/* Elemente */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
h1{
  font-size: 40px;
}
button{
  box-shadow: 5px 5px 10px 0px #091685;
	background-color:#1020cc;
	border-radius:15px;
	border:1px solid #0919ad;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size: 35px;
	padding:32px 76px;
	text-decoration:none;
}
button:hover{
  background-color:#03129c;
}
button:active{
  position:relative;
	top:1px;
}
table{
  border-collapse: collapse;
}
tr{
  width: 450px;
}
table tr:first-child td{
  border-top:0;
}
table tr:last-child td{
  border-bottom: 0;
}
table tr td:first-child{
  border-left: 0;
}
table tr td:last-child{
  border-right: 0;
}
td{
  position: relative;
  width: 150px;
  height: 150px;
  border: 5px solid black;
  /* cursor: pointer; */
}
td:hover{
  background-color:rgba(1, 49, 182, 0.281);
}
/* Klassen */
.headline{
  text-align: center;
  position: absolute;
  height: 10vh;
  width: 100vw;
  top: 0;
  margin: 0;
  text-justify: center;
}
.player-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.player{
  margin-right: 20px;
  font-size: 30px;
}
.little-img{
  height: 50px;
}
.container{
  margin-top: 10vh;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign{
  position: absolute;
  top:10%;
  bottom: 10%;
  left:10%;
  right: 10%;
  width: 80%;
}
.d-none{
  display: none;
}
.dialog{
  position: absolute;
  top:0;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  background-color: rgba(209, 209, 209, 0.781);
}
.box{
  height:100vh;
  width:100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.resetbtn{
  margin-top: 20px;
}
/* ID's */
/* Mobile View 1000px*/
@media (max-width: 800px) {
}